
<header id="ft-header" class="ft-header-section header-style-two">
    <div class="ft-header-top">
        <div class="container">
            <div class="ft-header-top-content d-flex justify-content-between align-items-center">
                <div class="ft-header-top-cta ul-li">
                    <ul>
                        <li><i class="fal fa-envelope"></i>info@alameencargo.com</li>
                        <li><i class="fal fa-map-marker-alt"></i>Azeeziya, Jeddah</li>
                    </ul>
                </div>
                <div class="ft-header-cta-info d-flex">
                    <div class="ft-header-cta-icon d-flex justify-content-center align-items-center">
                        <i class="flaticon-call"></i>
                    </div>
                    <div class="ft-header-cta-text headline pera-content">
                        <p>Get In Touch</p>
                        <a href="tel:0535188259"></a><h3>0535188259</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-header-main-menu-wrapper">
        <div class="container">
            <div class="ft-header-main-menu-area position-relative">
                <div class="ft-header-main-menu d-flex align-items-center justify-content-between position-relative">
                    <div class="ft-site-logo-area">
                        <div class="ft-site-logo position-relative">
                            <a href="/"><img src="assets/images/new/logo.png" style="height: 52px;" alt=""></a>
                        </div>
                    </div>
                    <div class="ft-main-navigation-area">
                        <nav class="ft-main-navigation clearfix ul-li">
                            <ul id="ft-main-nav" class="nav navbar-nav clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/service">Services</a></li>
                                <li><a href="/blog">News & Blogs</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="ft-header-cta-btn">
                        <a class="d-flex justify-content-center align-items-center" href="contacts.html">Get Free Quote</a>
                    </div>
                </div>
                <div class="mobile_menu position-relative">
                    <div class="mobile_menu_button open_mobile_menu">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="mobile_menu_wrap">
                        <div class="mobile_menu_overlay open_mobile_menu"></div>
                        <div class="mobile_menu_content">
                            <div class="mobile_menu_close open_mobile_menu">
                                <i class="fal fa-times"></i>
                            </div>
                            <div class="m-brand-logo">
                                <a href="%21.html#"><img src="assets/images/new/logo.png" alt=""></a>
                            </div>
                            <nav class="mobile-main-navigation  clearfix ul-li">
                                <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                    <li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
								    <li><a href="/service">Services</a></li>
                                    <li><a href="/blog">News & Blogs</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /Mobile-Menu -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End of header section
============================================= -->

<!-- Start of Breadcrumb section
============================================= -->
<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="assets/img/bg/bread-bg.jpg">
    <span class="background_overlay"></span>
    <span class="design-shape position-absolute"><img src="assets/img/shape/tmd-sh.png" alt=""></span>
    <div class="container">
        <div class="ft-breadcrumb-content headline text-center position-relative">
            <h2>About</h2>
            <div class="ft-breadcrumb-list ul-li">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</section>	
<!-- End of Breadcrumb section
============================================= -->

<!-- Start of About section
============================================= -->
<section id="ft-about-2" class="ft-about-section-2">
    <div class="container">
        <div class="ft-about-content-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ft-about-text-wrapper-2">
                        <div class="ft-section-title-2 headline pera-content">
                            <span class="sub-title">About Company</span>
                            <h2>We Provide
                                a Reliable Services
                                <span>Since 1982</span>
                            </h2>
                            <p>Welcome to Al Ameen Cargo, where we redefine cargo logistics with precision, reliability, and efficiency. Established in [Year], we have been a trusted name in the industry, committed to providing top-notch cargo solutions to meet the diverse needs of our clients worldwide.</p>
                        </div>
                        <div class="ft-about-feature-wrapper-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="ft-about-feature-list-item d-flex align-items-center">
                                        <div class="ft-about-feature-icon d-flex align-items-center justify-content-center">
                                            <i class="fal fa-bullseye-arrow"></i>
                                        </div>
                                        <div class="ft-about-feature-text headline pera-content">
                                            <h3>Our Mission</h3>
                                            <p>To provide seamless, efficient, and safe transportation of goods, exceeding customer expectations .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="ft-about-feature-list-item d-flex align-items-center">
                                        <div class="ft-about-feature-icon d-flex align-items-center justify-content-center">
                                            <i class="fal fa-bullseye-arrow"></i>
                                        </div>
                                        <div class="ft-about-feature-text headline pera-content">
                                            <h3>Our Vision</h3>
                                            <p>To be the leading global cargo provider, known for reliability, customer focus, and sustainable practices.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ft-btn-3">
                                <a class="d-flex justify-content-center align-items-center" href="about.html">Explore More <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ft-about-img-2-wrapper position-relative">
                      

                        <div class="ft-about-img-2">
                            <img src="assets/images/new/banner4.jpg"  alt="">
                            <img src="assets/images/new/banner2.jpg" class="mt-4"  alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About section
============================================= -->

<!-- Start of funfact section
============================================= -->
<!-- <section id="ft-funfact" class="ft-funfact-section">
    <div class="container">
        <div class="ft-funfact-content">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="ft-funfact-innerbox text-center">
                        <div class="ft-funfact-icon">
                            <i class="fal fa-clipboard-list-check"></i>
                        </div>
                        <div class="ft-funfact-text headline pera-content">
                            <h3><span class="counter">4500</span></h3>
                            <p>Project Completed</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ft-funfact-innerbox text-center">
                        <div class="ft-funfact-icon">
                            <i class="fal fa-users"></i>
                        </div>
                        <div class="ft-funfact-text headline pera-content">
                            <h3><span class="counter">54</span>+</h3>
                            <p>Active Members</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ft-funfact-innerbox text-center">
                        <div class="ft-funfact-icon">
                            <i class="fas fa-trophy-alt"></i>
                        </div>
                        <div class="ft-funfact-text headline pera-content">
                            <h3><span class="counter">14</span>+</h3>
                            <p>Award Winning</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ft-funfact-innerbox text-center">
                        <div class="ft-funfact-icon">
                            <i class="fal fa-medal"></i>
                        </div>
                        <div class="ft-funfact-text headline pera-content">
                            <h3><span class="counter">100</span>%</h3>
                            <p>Satisfaction Rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>		 -->
<!-- End of funfact section
============================================= -->	

<!-- Start of goodness feature section
============================================= -->
<section id="ft-goodness-feature" class="ft-goodness-feature-section">
    <div class="container">
        <div class="ft-section-title-2 headline pera-content text-center">
            <span class="sub-title">Our Goodness</span>
            <h2>What  Make Us Special</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>
        <div class="ft-goodness-featured-content">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="ft-goodness-featured-innerbox text-center">
                        <div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
                            <i class="fal fa-anchor"></i>
                        </div>
                        <div class="ft-goodness-featured-text headline pera-content">
                            <h3>Trusted Franchise</h3>
                            <p>Join our network of reliable and successful cargo service partners.. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ft-goodness-featured-innerbox text-center">
                        <div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
                            <i class="fal fa-user-headset"></i>
                        </div>
                        <div class="ft-goodness-featured-text headline pera-content">
                            <h3>Customer Support</h3>
                            <p>Experience exceptional customer support available 24/7 for all your logistics needs. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="ft-goodness-featured-innerbox text-center">
                        <div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
                            <i class="fal fa-badge-sheriff"></i>
                        </div>
                        <div class="ft-goodness-featured-text headline pera-content">
                            <h3>Reliability & Punctuality</h3>
                            <p>Count on us for dependable and timely delivery of your cargo, every time. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of goodness feature section
============================================= -->

<!-- Start of Video section
============================================= -->
<section id="ft-video" class="ft-video-section">
    <div class="container">
        <div class="ft-video-content position-relative">
            <div class="ft-video-img-play-btn">
                <div class="ft-video-img">
                    <img src="assets/img/bg/v-bg.jpg" alt="">
                </div>
                <div class="ft-video-play">
                    <a class="d-flex justify-content-center align-items-center position-relative video_box" href="https://www.youtube.com/watch?v=C4jjFanHZo8">
                        <i class="fas fa-play"></i>
                        <span class="video_btn_border border_wrap-1"></span>
                        <span class="video_btn_border border_wrap-2"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>		
</section>	
<!-- End of Video section
============================================= -->

	

<!-- Start of Footer   section
============================================= -->
<footer id="ft-footer-2" class="ft-footer-section-2" data-background="assets/img/bg/f-bg.png">
    <div class="ft-footer-newslatter position-relative">
        <div class="container">
            <div class="ft-footer-newslatter-content d-flex justify-content-between align-items-center flex-wrap">
                <div class="ft-footer-newslatter-text headline">
                    <h2>Sign up for  News & Updates</h2>	
                </div>
                <div class="ft-footer-newslatter-form position-relative">
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-footer-widget-wrapper-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="ft-footer-widget ul-li-block headline pera-content">
                        <div class="logo-widget">
                            <div class="site-logo">
                                <a href="#"><img src="assets/images/new/logo.png" alt=""></a>
                            </div>
                            <div class="ft-footer-address">
                                <span>Azeeziya, Jeddah</span>
                                <a href="mailto:info@alameencargo.com"><span>Email: info@alameencargo.com</span></a>
                               <a href="tel:0535188259"><span>Phone: 0535188259</span></a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ft-footer-widget ul-li-block headline pera-content">
                        <div class="menu-widget">
                            <h3 class="widget-title">Our Services</h3>
                            <ul>
                                <li><a href="service.html">Air Freight</a></li>
                                <li><a href="service.html">Ocen Freight</a></li>
                                <li><a href="service.html">Warehousing</a></li>
                                <li><a href="service.html">Global stock transparency</a></li>
                                <li><a href="service.html">Transport consolidation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ft-footer-widget ul-li-block headline pera-content">
                        <div class="menu-widget">
                            <h3 class="widget-title">Industry Sectors</h3>
                            <ul>
                                <li><a href="service.html">Electronics Industry</a></li>
                                <li><a href="service.html">Industrial & Manufacturing</a></li>
                                <li><a href="service.html">Semicon & Solar</a></li>
                                <li><a href="service.html">Oil & Gas Cargo</a></li>
                                <li><a href="service.html">Energy & Chemicals</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="ft-footer-widget ul-li-block headline pera-content">
                        <div class="menu-widget">
                            <h3 class="widget-title">Quick Links</h3>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="blog.html">News & Blogs</a></li>
                                <li><a href="contacts.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-footer-copywrite-2 text-center">
        <span>Design & Developed by @<a href="https://www.cyenosure.com/" target="_blank">Cyenousre</a></span>
    </div>
</footer>		
<!-- End of FAQ why choose  section
============================================= -->	