<header id="ft-header" class="ft-header-section header-style-two">
    <div class="ft-header-top">
        <div class="container">
            <div class="ft-header-top-content d-flex justify-content-between align-items-center">
                <div class="ft-header-top-cta ul-li">
                    <ul>
                        <li><i class="fal fa-envelope"></i>info@alameencargo.com</li>
                        <li><i class="fal fa-map-marker-alt"></i>Azeeziya, Jeddah</li>
                    </ul>
                </div>
                <div class="ft-header-cta-info d-flex">
                    <div class="ft-header-cta-icon d-flex justify-content-center align-items-center">
                        <i class="flaticon-call"></i>
                    </div>
                    <div class="ft-header-cta-text headline pera-content">
                        <p>Get In Touch</p>
                        <a href="tel:0535188259"></a><h3>0535188259</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-header-main-menu-wrapper">
        <div class="container">
            <div class="ft-header-main-menu-area position-relative">
                <div class="ft-header-main-menu d-flex align-items-center justify-content-between position-relative">
                    <div class="ft-site-logo-area">
                        <div class="ft-site-logo position-relative">
                            <a href="/"><img src="assets/images/new/logo.png" style="height: 52px;" alt=""></a>
                        </div>
                    </div>
                    <div class="ft-main-navigation-area">
                        <nav class="ft-main-navigation clearfix ul-li">
                            <ul id="ft-main-nav" class="nav navbar-nav clearfix">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/service">Services</a></li>
                                <li><a href="/blog">News & Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="ft-header-cta-btn">
                        <a class="d-flex justify-content-center align-items-center" href="/contact">Get Free Quote</a>
                    </div>
                </div>
                <div class="mobile_menu position-relative">
                    <div class="mobile_menu_button open_mobile_menu">
                        <i class="fal fa-bars"></i>
                    </div>
                    <div class="mobile_menu_wrap">
                        <div class="mobile_menu_overlay open_mobile_menu"></div>
                        <div class="mobile_menu_content">
                            <div class="mobile_menu_close open_mobile_menu">
                                <i class="fal fa-times"></i>
                            </div>
                            <div class="m-brand-logo">
                                <a href="/"><img src="assets/images/new/logo.png" alt=""></a>
                            </div>
                            <nav class="mobile-main-navigation  clearfix ul-li">
                                <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                    <li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
								    <li><a href="/service">Services</a></li>
                                    <li><a href="/blog">News & Blog</a></li>
                                    <li><a href="/contact">Contact</a></li> </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /Mobile-Menu -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End of header section
============================================= -->

    <section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative">
        <!-- <div class="info">
            <div class="row table-responsive">
               <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th style="font-size: medium;">Invoice Number</th>
                        <th style="font-size: medium;">Reciever Address</th>
                        <th style="font-size: medium;">Box</th>
                        <th style="font-size: medium;">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:190px;font-size: medium;"></td>
                        <td style="width:190px;font-size: medium;">Addess East Jaintia Hills, Kerala, India,</td>
                        <td style="width:190px;font-size: medium;">13</td>
                        <th style="width:190px;font-size: medium;">Comments</th>
                    </tr>
                </tbody>
               </table>
            </div>
            </div> -->
         
            <div class="containers">
                <article class="card">
                    <!-- <header class="card-header"> My Orders / Tracking </header> -->
                    <div class="card-body pb-5">
                        <h5 id="invoice-number">Invoice Number: </h5>
                        <article class="card">
                            <div class="card-body row">
                                <div class="col black" id="box"> 
                                    <!-- Data will be inserted here -->
                                </div>
                                <div class="col black" id="location"> 
                                    <!-- Data will be inserted here -->
                                </div>
                               
                                <div class="col black" id="receiver-address"> 
                                    <!-- Data will be inserted here -->
                                </div>
                                <div class="col black" id="comment"> 
                                    <!-- Data will be inserted here -->
                                </div>
                            </div>
                        </article>
                       <div id="tracker">

                       </div>
                       
                       
                    </div>
                </article>
            </div>
        <!-- <div id="tracking-container"></div> -->
    
    </section>
   
    <!-- Start of Footer section
	============================================= -->
	<footer id="ft-footer" class="ft-footer-section">
		<div class="container">
			<div class="ft-footer-widget-wrapper">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="ft-footer-widget ul-li-block headline pera-content">
							<div class="logo-widget">
								<div class="site-logo">
									<a href="#"><img src="assets/images/new/logo.png" alt=""></a>
								</div>
								<p>Our mission is  efficient transportation of goods, ensuring they reach their destinations safely.</p>
								<div class="ft-btn">
									<a class="d-flex justify-content-center align-items-center" href="project.html">Get In Touch</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="ft-footer-widget ul-li-block headline pera-content">
							<div class="menu-widget">
								<h3 class="widget-title">Our Service</h3>
								<ul>
									<li><a href="/service">Land Transportation</a></li>
									<li><a href="/service">Air Freight</a></li>
									<li><a href="/service">Ocen Freight</a></li>
									<li><a href="/service">Warehousing</a></li>
									<li><a href="/service">Rail Internation Shipping</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="ft-footer-widget ul-li-block headline pera-content">
							<div class="menu-widget">
								<h3 class="widget-title">Quick Links</h3>
								<ul>
                                    <li><a href="index.html">Home</a></li>
									<li><a href="about.html">About</a></li>
								    <li><a href="/service">Services</a></li>
                                    <li><a href="/blog">News & Blogs</a></li>
                                    <li><a href="contacts.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="ft-footer-widget ul-li-block headline pera-content">
							<div class="gallery-widget clearfix">
								<h3 class="widget-title">Gallery </h3>
								<ul class="zoom-gallery">
									<li><a href="assets/img/gallery/gl1.jpg" data-source="assets/img/gallery/gl1.jpg"><img src="assets/img/gallery/gl1.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl2.jpg" data-source="assets/img/gallery/gl2.jpg"><img src="assets/img/gallery/gl2.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl3.jpg" data-source="assets/img/gallery/gl3.jpg"><img src="assets/img/gallery/gl3.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl4.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl4.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl5.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl5.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl6.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl6.jpg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ft-footer-copywrite-1 text-center">
				<span>Design & Developed by @<a href="https://www.cyenosure.com/" target="_blank">Cyenousre</a></span>
			</div>
		</div>
	</footer>
<!-- End of Footer section
	============================================= -->	
    <script>
        var datas = JSON.parse('<%- data %>');
        var address = JSON.parse('<%- adress %>');

        document.getElementById('invoice-number').innerHTML = `Invoice Number: ${address.invoice_number}`;
        
    document.getElementById('receiver-address').innerHTML = `<strong>Receiver Address:</strong> <br>
        ${address.receiver_name} ${address.receiver_address}, ${address.receiver_city_name}, ${address.receiver_state}, 
        ${address.receiver_district}, ${address.receiver_zip_code}, ${address.receiver_country}`;

    document.getElementById('location').innerHTML = `<strong>Location:</strong> <br>
        ${address.receiver_city_name}, ${address.receiver_state}, ${address.receiver_country}, ${address.receiver_zip_code}`;

    document.getElementById('box').innerHTML = `<strong>Box:</strong> <br> ${address.receiver_boxes}`;

    document.getElementById('comment').innerHTML = `<strong>Comment:</strong> <br> ${address.receiver_comment}`;

        console.log(address ,datas,"address");
       

        const statusOrder = [
            "Enquiry collected",
            "Shipment booked",
            "Shipment received",
            "Shipment forwarded",
            "Shipment arrived",
            "Waiting for clearance",
            "Shipment cleared",
            "Out for Delivery",
            "Delivery arranged",
        ];
    
        const conditionalStatuses = [
            { primary: "Waiting for clearance", secondary: "Shipment on hold" },
            { primary: "Out for Delivery", secondary: "Pending" },
            { primary: "Delivery arranged", secondary: "Not Delivered" }
        ];
    
        async function fetchStatus() {
            try {
                const trackingContainer = document.getElementById('tracker');
                trackingContainer.innerHTML = ''; // Clear previous tracking cards
    
                datas.forEach((order, index) => {
                    const trackingCard = createTrackingCard(order, index + 1);
                    trackingContainer.appendChild(trackingCard);
                });
    
            } catch (error) {
                console.error('Error fetching status:', error);
            }
        }
    
        function createTrackingCard(order, index) {
            const card = document.createElement('div');
            card.classList.add('card');
            card.id = `tracking${index}`;
    
            const completedStatuses = order.statuses.map(status => status.status.trim());
            let latestCompletedIndex = -1;
    
            // Determine the index of the latest completed status
            completedStatuses.forEach(status => {
                const currentIndex = statusOrder.indexOf(status);
                if (currentIndex > latestCompletedIndex) {
                    latestCompletedIndex = currentIndex;
                }
            });
    
            let statusHTML = '';
            statusOrder.forEach((status, statusIndex) => {
                let isStatusVisible = true;
    
                // Check if we should display primary or secondary from conditional pairs
                for (const { primary, secondary } of conditionalStatuses) {
                    if (status === primary && completedStatuses.includes(secondary)) {
                        isStatusVisible = false;
                        break;
                    }
                }
    
                if (isStatusVisible) {
                    const isCompleted = statusIndex <= latestCompletedIndex;
                    const statusClass = isCompleted ? 'step active' : 'step';
                    const matchingStatus = order.statuses.find(s => s.status.trim() === status);
    
                    statusHTML += `
                          <div class="${statusClass}">
            <span class="icon"> <i class="fas ${isCompleted ? 'fa-check' : 'fa-box-open'}"></i> </span>
            <span class="text">${status}</span>
            <span class="text">${matchingStatus ? matchingStatus.date : ''}</span>
            <span class="text">${matchingStatus && matchingStatus.comment ? matchingStatus.comment : ''}</span>
          </div>`;
                }
            });
    
            const firstStatusDate = Array.isArray(order.statuses) ? order.statuses[0].date : order.date;
    
            card.innerHTML = `
                
                     
                        <h6>Box Number: ${order.box_names}</h6>
                        <div class="track p-5">
                     ${statusHTML}
                      </div>
                       
            `;
    
            return card;
        }
    
        // Fetch the status when the page loads
        window.onload = () => fetchStatus();
    </script>
    
    
    
    
    
    
    
    
    
    
    
    


    
    